In [1]:
sc

Spark local-1538319086835: Some(http://74107bd78b99:4040)

In [2]:
import org.apache.spark.ml.evaluation.RegressionEvaluator
import org.apache.spark.ml.recommendation.ALS

In [7]:
val artist = sc.textFile("user_artist_data.txt")

artist = user_artist_data.txt MapPartitionsRDD[5] at textFile at <console>:29

user_artist_data.txt MapPartitionsRDD[5] at textFile at <console>:29

In [8]:
artist.first()

1000002 1 55

In [11]:
val ua = spark.read.
    option("inferSchema","true").
    option("header","false").
    option("delimiter"," ").
    csv("user_artist_data.txt")

ua = [_c0: int, _c1: int ... 1 more field]

lastException: Throwable = null

[_c0: int, _c1: int ... 1 more field]

In [12]:
ua.head()

[1000002,1,55]

In [13]:
ua.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: integer (nullable = true)
 |-- _c2: integer (nullable = true)

In [18]:
val userArtistDF = ua.toDF("user","artist","count")

userArtistDF = [user: int, artist: int ... 1 more field]

[user: int, artist: int ... 1 more field]

In [22]:
val smallUserArtistDF = userArtistDF.sample(false,0.001)

smallUserArtistDF = [user: int, artist: int ... 1 more field]

[user: int, artist: int ... 1 more field]

In [23]:
val Array(training, test) = smallUserArtistDF.randomSplit(Array(0.8,0.2))

training = [user: int, artist: int ... 1 more field]
test = [user: int, artist: int ... 1 more field]

[user: int, artist: int ... 1 more field]

In [24]:
training.count()

19209

In [25]:
test.count()

4785

In [26]:
val als = new ALS().
        setMaxIter(10).
        setRegParam(0.01).
        setUserCol("user").
        setItemCol("artist").
        setRatingCol("count")

als = als_61a34f59e74e

als_61a34f59e74e

In [27]:
val model = als.fit(training)

model = als_61a34f59e74e

als_61a34f59e74e

In [28]:
val predictions = model.transform(test)

predictions = [user: int, artist: int ... 2 more fields]

[user: int, artist: int ... 2 more fields]

In [29]:
predictions.sort("user").show(100)

+-------+--------+-----+------------+
|   user|  artist|count|  prediction|
+-------+--------+-----+------------+
|   1429| 6894588|    1|         NaN|
|   3334| 1238856|   11|         NaN|
|   6674|     699|    1|         NaN|
|   6937| 1006283|    7|         NaN|
|   7275|10418388|    1|         NaN|
|   7275| 1010592|    1| -0.22956197|
|   8618| 1075138|    1|         NaN|
|   8815|10336349|    2|         NaN|
|   9189| 1028392|    1|         NaN|
|  15716|    3278|    1|         NaN|
|  16123| 1004189|    2|         NaN|
|1000019| 1039685|    1|         NaN|
|1000077| 1005229|   28|         NaN|
|1000116| 1103336|    2|         NaN|
|1000180| 1050642|    1|         NaN|
|1000225| 1247943|    2|         NaN|
|1000327| 1006160|    1|         NaN|
|1000327| 1044445|    2|         NaN|
|1000375| 1100454|   10|         NaN|
|1000395| 1010154|   29|  -1.3902578|
|1000395| 1063612|    1|         NaN|
|1000488| 1006185|    1|         NaN|
|1000507| 1002097|    1|         NaN|
|1000557| 1000416|   93|    7.746729|
|1000586| 1268098|   13|-0.028405845|
|1000606| 1057563|   30|         NaN|
|1000647| 1000112|   15|         NaN|
|1000689| 1006185|   33|         NaN|
|1000717| 1002627|    1|   5.7487764|
|1000786|     813|    7|   -24.82349|
|1000793| 1000894|    1|         NaN|
|1000822| 1052180|    1|         NaN|
|1000877| 6798983|    1|         NaN|
|1000882|    4623|    1|  -0.7803929|
|1000911|     985|    1|         NaN|
|1000959|    5606|   22|   -28.99121|
|1001012|    1433|    1|         NaN|
|1001028| 1009124|   22|         NaN|
|1001051| 1060581|    1|         NaN|
|1001069| 1003968|    4|         NaN|
|1001144|    2000|    1|         NaN|
|1001174| 1267233|    2|         NaN|
|1001209| 1060876|    2|         NaN|
|1001220| 1003017|   10|         NaN|
|1001223| 1007498|   84|         NaN|
|1001249| 6694932|   10|         NaN|
|1001298| 1022845|    1|         NaN|
|1001305|    4246|    3|  -6.0910325|
|1001327| 1037970|    2|         NaN|
|1001357|     437|  499|    61.29988|
|1001408| 1019226|   39|         NaN|
|1001413| 1022265|    1|         NaN|
|1001437| 1021878|    1|         NaN|
|1001450| 1171973|    1|         NaN|
|1001552| 1004015|   77| 0.014505317|
|1001552| 1001019|    4| -0.59487796|
|1001568| 1009920|    1|         NaN|
|1001572|     153|  446|   48.808434|
|1001606|     352|   12|         NaN|
|1001674|    4449|    9|         NaN|
|1001747| 1239168|   14|         NaN|
|1001776| 1008818|    1|         NaN|
|1001777| 9899159|    2|         NaN|
|1001907| 1005595|    9|         NaN|
|1001919|    5692|    1|   7.0435305|
|1001956| 1018153|    2|         NaN|
|1001969| 1000033|   10|         NaN|
|1002037| 1281691|    1|         NaN|
|1002045|    4053|    6|         NaN|
|1002080|     979|    1|         NaN|
|1002083| 6645051|   18|         NaN|
|1002098| 1086456|    1|         NaN|
|1002167| 1000639|   20|         NaN|
|1002185| 1018168|   11|  -0.4330481|
|1002213|10359999|    1|         NaN|
|1002276|     242|   18| -0.35730913|
|1002345|    4078|    6|         NaN|
|1002374| 1008228|    2|         NaN|
|1002380| 1049809|    2|         NaN|
|1002389| 1123168|    1|         NaN|
|1002412| 1000707|    1|         NaN|
|1002422| 1005150|    2|  0.28465286|
|1002472| 1000525|    4|         NaN|
|1002499| 1003709|    3|         NaN|
|1002648| 1069825|    3|         NaN|
|1002705| 1007027|    1|         NaN|
|1002705| 1001887|    6|         NaN|
|1002728| 1008851|    1|         NaN|
|1002778|    1413|    1|         NaN|
|1002815| 1092761|    1|         NaN|
|1002823|    1981|    1|         NaN|
|1002824| 1234433|    1|         NaN|
|1002889| 1057175|    2|         NaN|
|1002933| 1004412|    5|         NaN|
|1002940| 1006213|    2|    6.318678|
|1003017| 1177787|    1|         NaN|
|1003077| 1092063|    1|         NaN|
|1003243| 1065064|    1|         NaN|
|1003248|     463|    5|         NaN|
|1003281| 2046350|    2|         NaN|
+-------+--------+-----+------------+
only showing top 100 rows