In [1]:
sc

Spark local-1538148721191: Some(http://74107bd78b99:4040)

In [2]:
val rdd = sc.parallelize(Array(1,2,2,4),4)

rdd = ParallelCollectionRDD[0] at parallelize at <console>:27

ParallelCollectionRDD[0] at parallelize at <console>:27

In [3]:
val user = sc.textFile("u.user")

user = u.user MapPartitionsRDD[2] at textFile at <console>:27

u.user MapPartitionsRDD[2] at textFile at <console>:27

In [4]:
user.first

1|24|M|technician|85711

In [5]:
val head = user.take(10)

head = Array(1|24|M|technician|85711, 2|53|F|other|94043, 3|23|M|writer|32067, 4|24|M|technician|43537, 5|33|F|other|15213, 6|42|M|executive|98101, 7|57|M|administrator|91344, 8|36|M|administrator|05201, 9|29|M|student|01002, 10|53|M|lawyer|90703)

[1|24|M|technician|85711, 2|53|F|other|94043, 3|23|M|writer|32067, 4|24|M|technician|43537, 5|33|F|other|15213, 6|42|M|executive|98101, 7|57|M|administrator|91344, 8|36|M|administrator|05201, 9|29|M|student|01002, 10|53|M|lawyer|90703]

In [6]:
head.foreach(println)

1|24|M|technician|85711
2|53|F|other|94043
3|23|M|writer|32067
4|24|M|technician|43537
5|33|F|other|15213
6|42|M|executive|98101
7|57|M|administrator|91344
8|36|M|administrator|05201
9|29|M|student|01002
10|53|M|lawyer|90703

In [7]:
val parsed = spark.read.
    option("header","false").
    option("nullValue","true").
    option("delimiter", "|").
    option("inferSchema", "true").
    csv("u.user")

parsed = [_c0: int, _c1: int ... 3 more fields]

[_c0: int, _c1: int ... 3 more fields]

In [8]:
parsed.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: integer (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

In [9]:
val summary = parsed.describe()

summary = [summary: string, _c0: string ... 4 more fields]

[summary: string, _c0: string ... 4 more fields]

In [10]:
summary.show()

+-------+-----------------+-----------------+----+-------------+------------------+
|summary|              _c0|              _c1| _c2|          _c3|               _c4|
+-------+-----------------+-----------------+----+-------------+------------------+
|  count|              943|              943| 943|          943|               943|
|   mean|            472.0|34.05196182396607|null|         null| 50868.78810810811|
| stddev|272.3649512449549|12.19273973305903|null|         null|30891.373254138176|
|    min|                1|                7|   F|administrator|             00000|
|    max|              943|               73|   M|       writer|             Y1A6B|
+-------+-----------------+-----------------+----+-------------+------------------+

In [11]:
val item = sc.textFile("u.item")

item = u.item MapPartitionsRDD[19] at textFile at <console>:27

u.item MapPartitionsRDD[19] at textFile at <console>:27

In [12]:
item.first()

1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0

In [13]:
val head2 = item.take(10)

head2 = Array(1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0, 2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0, 3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0, 4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0, 5|Copycat (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Copycat%20(1995)|0|0|0|0|0|0|1|0|1|0|0|0|0|0|0|0|1|0|0, 6|Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995||http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)|0|0|0|0|0|0|0|0|1|...

[1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0, 2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0, 3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0, 4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0, 5|Copycat (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Copycat%20(1995)|0|0|0|0|0|0|1|0|1|0|0|0|0|0|0|0|1|0|0, 6|Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995||http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0, 7|Twelve Monkeys (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|1|0|0|0, 8|Babe (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Babe%20(1995)|0|0|0|0|1|1|0|0|1|0|0|0|0|0|0|0|0|0|0, 9|Dead Man Walking (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0, 10|Richard III (1995)|22-Jan-1996||http://us.imdb.com/M/title-exact?Richard%20III%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|1|0]

In [14]:
head2.foreach(println)

1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0
2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0
5|Copycat (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Copycat%20(1995)|0|0|0|0|0|0|1|0|1|0|0|0|0|0|0|0|1|0|0
6|Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995||http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
7|Twelve Monkeys (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|1|0|0|0
8|Babe (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Babe%20(1995)|0|0|0|0|1|1|0|0|1|0|0|0|0|0|0|0|0|0|0
9|Dead Man Walking (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
10|Richard III (1995)|22-Jan-1996||http://us.imdb.com/M/title-exact?Richard%20III%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|1|0

In [15]:
val parsed2 = spark.read.
    option("header","false").
    option("nullValue","true").
    option("delimiter","|").
    option("inferSchema","true").
    csv("u.item")

parsed2 = [_c0: int, _c1: string ... 22 more fields]

[_c0: int, _c1: string ... 22 more fields]

In [16]:
parsed2.first()

[1,Toy Story (1995),01-Jan-1995,null,http://us.imdb.com/M/title-exact?Toy%20Story%20(1995),0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0]

In [17]:
parsed2.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: integer (nullable = true)
 |-- _c6: integer (nullable = true)
 |-- _c7: integer (nullable = true)
 |-- _c8: integer (nullable = true)
 |-- _c9: integer (nullable = true)
 |-- _c10: integer (nullable = true)
 |-- _c11: integer (nullable = true)
 |-- _c12: integer (nullable = true)
 |-- _c13: integer (nullable = true)
 |-- _c14: integer (nullable = true)
 |-- _c15: integer (nullable = true)
 |-- _c16: integer (nullable = true)
 |-- _c17: integer (nullable = true)
 |-- _c18: integer (nullable = true)
 |-- _c19: integer (nullable = true)
 |-- _c20: integer (nullable = true)
 |-- _c21: integer (nullable = true)
 |-- _c22: integer (nullable = true)
 |-- _c23: integer (nullable = true)

In [18]:
val summary2 = parsed2.describe()

summary2 = [summary: string, _c0: string ... 23 more fields]

[summary: string, _c0: string ... 23 more fields]

In [19]:
summary2.show()

+-------+------------------+--------------------+-----------+----+--------------------+--------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+
|summary|               _c0|                 _c1|        _c2| _c3|                 _c4|                 _c5|                _c6|               _c7|                _c8|                _c9|               _c10|               _c11|                _c12|               _c13|                _c14|                _c15|                _c16|               _c17|               _c18|               _c19|               _c20|              _c21|               _c22|               _c23|
+-------+------------------+--------------------+-----------+----+--------------------+--------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+
|  count|              1682|                1682|       1681|   0|                1679|                1682|               1682|              1682|               1682|               1682|               1682|               1682|                1682|               1682|                1682|                1682|                1682|               1682|               1682|               1682|               1682|              1682|               1682|               1682|
|   mean|             841.5|                null|       null|null|                null|0.001189060642092...| 0.1492271105826397|0.0802615933412604|0.02497027348394768|0.07253269916765755|0.30023781212841855|0.06480380499405469|0.029726516052318668|0.43103448275862066|0.013079667063020214|0.014268727705112961|0.054696789536266346|0.03329369797859691|0.03626634958382877|0.14684898929845422|0.06004756242568371|0.1492271105826397|0.04221165279429251|0.01605231866825208|
| stddev|485.69589250888254|                null|       null|null|                null|0.034472500474212284|0.35641816109515484|0.2717785571305444|0.15608088423430846|0.25944503383362605| 0.4584976014014335| 0.2462525621467922| 0.16988233706244027| 0.4953681954046321| 0.11364976236574524| 0.11863177582846385|  0.2274550708557175|0.17945577207322622| 0.1870077359968219|0.35406057857880563| 0.2376455954301871|0.3564181610951548|0.20113149982303108| 0.1257141110346824|
|    min|                 1|'Til There Was Yo...|01-Aug-1997|null|http://us.imdb.co...|                   0|                  0|                 0|                  0|                  0|                  0|                  0|                   0|                  0|                   0|                   0|                   0|                  0|                  0|                  0|                  0|                 0|                  0|                  0|
|    max|              1682|� k�ldum klaka (C...| 4-Feb-1971|null|http://us.imdb.co...|                   1|                  1|                 1|                  1|                  1|                  1|                  1|                   1|                  1|                   1|                   1|                   1|                  1|                  1|                  1|                  1|                 1|                  1|                  1|
+-------+------------------+--------------------+-----------+----+--------------------+--------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+

In [20]:
val data = sc.textFile("u.data")

data = u.data MapPartitionsRDD[40] at textFile at <console>:27

u.data MapPartitionsRDD[40] at textFile at <console>:27

In [21]:
data.first()

196	242	3	881250949

In [22]:
val head3 = data.take(10)

head3 = Array(196	242	3	881250949, 186	302	3	891717742, 22	377	1	878887116, 244	51	2	880606923, 166	346	1	886397596, 298	474	4	884182806, 115	265	2	881171488, 253	465	5	891628467, 305	451	3	886324817, 6	86	3	883603013)

[196	242	3	881250949, 186	302	3	891717742, 22	377	1	878887116, 244	51	2	880606923, 166	346	1	886397596, 298	474	4	884182806, 115	265	2	881171488, 253	465	5	891628467, 305	451	3	886324817, 6	86	3	883603013]

In [23]:
head3.foreach(println)

196	242	3	881250949
186	302	3	891717742
22	377	1	878887116
244	51	2	880606923
166	346	1	886397596
298	474	4	884182806
115	265	2	881171488
253	465	5	891628467
305	451	3	886324817
6	86	3	883603013

In [41]:
val parsed3 = spark.read.
    option("header","false").
    option("nullValue","true").
    option("inferSchema","true").
    option("delimiter", "\t").
    csv("u.data")

parsed3 = [_c0: int, _c1: int ... 2 more fields]

[_c0: int, _c1: int ... 2 more fields]

In [42]:
parsed3.first()

[196,242,3,881250949]

In [43]:
parsed3.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: integer (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)

In [44]:
val summary3 = parsed3.describe()

summary3 = [summary: string, _c0: string ... 3 more fields]

[summary: string, _c0: string ... 3 more fields]

In [46]:
summary3.show()

+-------+------------------+------------------+------------------+-----------------+
|summary|               _c0|               _c1|               _c2|              _c3|
+-------+------------------+------------------+------------------+-----------------+
|  count|            100000|            100000|            100000|           100000|
|   mean|         462.48475|         425.53013|           3.52986|8.8352885148862E8|
| stddev|266.61442012750905|330.79835632558473|1.1256735991443214|5343856.189502848|
|    min|                 1|                 1|                 1|        874724710|
|    max|               943|              1682|                 5|        893286638|
+-------+------------------+------------------+------------------+-----------------+

In [48]:
summary.select("summary","_c1","_c2").show()

+-------+-----------------+----+
|summary|              _c1| _c2|
+-------+-----------------+----+
|  count|              943| 943|
|   mean|34.05196182396607|null|
| stddev|12.19273973305903|null|
|    min|                7|   F|
|    max|               73|   M|
+-------+-----------------+----+